<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}">
<head>
    <section class="naglowek">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <meta charset="UTF-8">
        <div class="header">
            <title>Dodawanie vpn</title>
            <h2 class="godzina">
                <div id="clock"></div>
            </h2>
            <img th:src="@{/images/PhpMyAdmin_logo_v2.png}" class="logo">
             <a type="submit" style="text-decoration:none" th:href="@{/admin}" class="btn button3">Powrót</a>
            <a th:href="@{/logout}" style="text-decoration:none" class="btn button2">wyloguj </a>

        </div>
    </section>
</head>

<body onload="timeCount();">
<script>
                function timeCount() {
                var today = new Date();

                var hour = today.getHours();
                if(hour<10)hour = "0"+hour;

                var minute = today.getMinutes();
                if(minute<10)minute = "0"+minute;

                var second = today.getSeconds();
                if(second<10)second = "0"+second;

                document.getElementById("clock").innerHTML = hour+":"+minute+":"+second;

                setTimeout("timeCount()", 1000);
                }
                </script>
<section class="srodek">
    <div th:if="${param.success}">
        <div class="alert alert-info">Pomyślnie dodano!</div>
    </div>
    <div class="spanel">
        <form action="#" th:action="@{/admin/addVpn/save}" th:object="${vpn}" method="post" class="form">
            <div class="inputbox">
                <span>Nazwa:</span>
                <input type="text" placeholder="Protokół VPN" th:field="*{vpn_protocole}" />
                <div class="alert" th:if="${#fields.hasErrors('vpn_protocole')}" th:errors="*{name}"></div>
            </div>
            <div class="inputbox">
                <span>Adresy IP: </span>
                <input type="text" placeholder="Adres IP" th:field="*{ip_address}" />
                <div class="alert" th:if="${#fields.hasErrors('ip_address')}" th:errors="*{ip_address}"></div>
            </div>
            <div class="inputbox">
                <span>Login:</span>
                <input type="text" placeholder="Login" th:field="*{login}" />
                <div class="alert" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
            </div>
            <div class="inputbox">
                <span>Hasło: </span>
                <input type="password" placeholder="Haslo" th:field="*{password}" />
                <div class="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
            <div class="inputbox">
                <span>Status:</span>
                <input type="text" placeholder="Klucz autentykacyjny" th:field="*{authkey}" />
                <div class="alert" th:if="${#fields.hasErrors('authkey')}" th:errors="*{authkey}"></div>
            </div>
            <div class="inputbox">
                <span>Status:</span>
                <input type="text" placeholder="Status" th:field="*{status}" />
                <div class="alert" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></div>
            </div>
            <div>
                <select th:field="*{role_id}">
                    <option th:value="1" th:text="Admin"></option>
                    <option th:value="2" th:text="User"></option>
                </select>
            </div>
            <input class="btn" type="submit" value="Dodaj vpn"/>
        </form>
    </div>
</section>
</body>
<section class="stopka">
    <div class="dpanel">

        <h1>@Lubie_placki_2023</h1>

    </div>
</section>
</html>