<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}">
<head>
    <section class="naglowek">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"  charset="UTF-8">
        <div class="header">
            <title>routery</title>
            <img th:src="@{/images/PhpMyAdmin_logo_v2.png}" class="logo">
            <a th:href="@{/logout}" style="text-decoration:none" class="btn button2">wyloguj </a>
            <a type="submit" style="text-decoration:none" th:href="@{/panel}" class="btn button3">Panel zarządzania</a>
            <title>zarządzanie bazą danych</title>
            <h2 class="godzina">
                <div id="clock"></div>
            </h2>
        </div>
    </section>
</head>
<body onload="timeCount();">
<script>
    function timeCount() {
        var today = new Date();

        var hour = today.getHours();
        if(hour<10)hour = "0"+hour;

        var minute = today.getMinutes();
        if(minute<10)minute = "0"+minute;

        var second = today.getSeconds();
        if(second<10)second = "0"+second;

        document.getElementById("clock").innerHTML = hour+":"+minute+":"+second;

        setTimeout("timeCount()", 1000);
    }
</script>
<section class="srodek">
    <div class="sspanel">



            <h1>Dostępne bazy danych</h1>
        <table class="styled-table">
            <thead>
            <tr>
                <th> Adres ip </th>
                <th> Nazwa </th>
                <th> Login </th>
                <th> Hasło </th>
                <th> Status </th>
                <th> Edytuj </th>
                <th> Usuń </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${dataBases.isEmpty()}">
                <td colspan="2"> Brak serwerów :( </td>
            </tr>
            <tr th:each="Data_base : ${dataBases}">
                <td><span th:text="${Data_base.ip_address}"> ip </span></td>
                <td><span th:text="${Data_base.name}"> name </span></td>
                <td><span th:text="${Data_base.login}"> login </span></td>
                <td><span th:text="${Data_base.password}"> password </span></td>
                <td><span th:if="${Data_base.status}=='ON'" style="color: green"> ● </span>
                    <span th:if="${Data_base.status}=='OFF'" style="color: red"> ● </span>
                    <span th:if="${Data_base.status!='ON' and Data_base.status!='OFF'}" style="color: yellow"> ● </span></td>
                <td th:if="${auth==true}"><a th:href="@{/admin/editData_base/{id}(id=${Data_base.id})}" class="btn button5" style="text-decoration:none">Edytuj</a></td>
                <td th:if="${auth==true}"><a th:href="@{/admin/deleteData_base/{id}(id=${Data_base.id})}" class="btn button5" style="text-decoration:none">Usuń</a></td>
            </tr>
            </tbody>
        </table>

    </div>
</section>
</body>
<section class="stopka">
    <div class="dpanel">

        <h1>@Lubie_placki_2023</h1>

    </div>
</section>
</html>